.info{
    padding: 50px 0;
    text-align: left;
    &-block{
        .row-flex();
        justify-content: space-between;
        .sm(justify-content, center);
        &__text{
            .col();
            .page__title-h2{
                color: @color_blue;
                text-align: left;
                .sm(text-align, center);
            }
            .page__subtitle{
        
            }
        }
        
        .page__btn{
            .col();
            .size(2.5);
            .size-sm(6);
            .size-xs(12);
        }
    }
    
}
