section.advantages
    .wrapper
        h2.page__title-h2 Highlights of our Multi
        p.page__text Li Europan lingues es membres sam familie,simplificat skeptic Cambridge dit me Occidental es.
        .advantages-items
            .advantages-items__item
                .page__icon.page__icon_layers
                h4.page__title-h4 Design
                p.page__text Li lingues differe solmen in grammatic pronunciation vocabules.
            .advantages-items__item
                .page__icon.page__icon_analytics
                h4.page__title-h4 Analytics
                p.page__text Li lingues differe solmen in grammatic pronunciation vocabules.
            .advantages-items__item
                .page__icon.page__icon_branding
                h4.page__title-h4 Branding
                p.page__text Li lingues differe solmen in grammatic pronunciation vocabules.
            .advantages-items__item
                .page__icon.page__icon_marketing
                h4.page__title-h4 Marketing
                p.page__text Li lingues differe solmen in grammatic pronunciation vocabules. 