section.banner
    .banner_opacity-blue
    .banner-block
        .wrapper
            h1.page__title-h1 Multipurpose Landing Page Template
            .page__title_sub We provide for your business
            p.page__text Li Europan lingues es membres del sam familie. Lor separat existentie es un myth, Por scientie, musica, sport etc, litot Europa usa li sam vocabular li lingues differe solmen in li grammatica, li pronunciation.
            a.page__btn(href="") Learn more
            a.page__btn.page__btn_white(href="") GET A QUOTE