section.contact
    .wrapper
        h2.page__title-h2 Contact us
        p.page__text Li Europan lingues es membres sam familie,simplificat skeptic Cambridge dit me Occidental es.
        .contact-block
            .contact-block__form
                form.page__form
                    label.page__label(for="") Patient Name*
                        input.page__input(type="text")
                    label.page__label(for="") Patient Name*
                        input.page__input(type="text")
                    label.page__label(for="") Patient Name*
                        input.page__input(type="text")
                    label.page__label(for="") Patient Name*
                        input.page__input(type="text")
                    button.page__btn send
            .contact-block__info
                .contact-block__info-container
                    .page__icon.page__icon_phone
                    .contact-block__info-container-text
                        p.page__text 1800- 450- 7800
                        p.page__text 1800- 450- 7800
                .contact-block__info-container
                    .page__icon.page__icon_mail
                    .contact-block__info-container-text
                        p.page__text normangordon@gmail.com
                        p.page__text cumference@website.com
                .contact-block__info-container
                    .page__icon.page__icon_home
                    .contact-block__info-container-text
                        p.page__text 8th floor, 379 Hudson St
                        p.page__text New York, NY 10018