section.info
    .wrapper
        .info-block
            .info-block__text
                h2.page__title-h2 Keep your visitors interesed.!
                .page__subtitle It esser tam simplic quam Occidental in fact,it va esser Occidental.
            a.page__btn(href="") GET A QUOTE