section.intro
    .wrapper
        h2.page__title-h2 Short Intro of our Multi
        p.page__text Li Europan lingues es membres sam familie,simplificat skeptic Cambridge dit me Occidental es.
        .intro-block
            .intro-block__text
                .intro-block__text-content
                    h4.page__title-h4 People Choose About us
                    p.page__text Li lingues differ solmen grammatica, li pronunciation li plu commun vocabules.Omnicos direct desirabilite de continuar payar custosi traductores.
                a.page__btn.page__btn_white(href="") Read more
            .intro-block__img
                img.page__img(src="assets/img/img-multi-1.jpg", alt="")