section.pillars
    .wrapper
    h2.page__title-h2 Pillars of Multi
    p.page__text Li Europan lingues es membres sam familie,simplificat skeptic Cambridge dit me Occidental es.
    .pillars-items
        .pillars-items__item
            .page__img
                img(src="assets/img/img-agent-1.jpeg", alt="")
            h3.page__title-h3 Alisha Kohan
            p.page__text Founder & Chief
        .pillars-items__item
            .page__img
                img(src="assets/img/img-agent-1.jpeg", alt="")
            h3.page__title-h3 Dale Paquette
            p.page__text Creative Head
        .pillars-items__item
            .page__img
                img(src="assets/img/img-agent-1.jpeg", alt="")
            h3.page__title-h3 Brian Cumin
            p.page__text Vice President