section.testimonial
    .testimonial_opacity
    .testimonial-block
        .wrapper
            h2.page__title-h2 Testimonial
            p.page__text Li Europan lingues es membres sam familie,simplificat skeptic Cambridge dit me Occidental es.
            .testimonial-block-items
                .testimonial-block-items__item
                    .page__img
                        img(src="assets/img/img-agent-4.jpg", alt="")
                    h3.page__title-h3 Gordon Norman
                    .page__subtitle Founder ,CEO
                    p.page__text “ Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de lingua francal. “